body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #1860df !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #1860df !important;
  border-color: #1860df !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #11429a !important;
  border-color: #11429a !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #11429a !important;
  border-color: #11429a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0e3883;
  color: #0e3883;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #1860df;
  border-color: #1860df;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1860df !important;
  border-color: #1860df !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #1860df !important;
}
.text-secondary {
  color: #f7ed4a !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0e3883 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #d2c609 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #cccccc !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1860df;
  border-color: #1860df;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #1860df;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #cadbf9;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #1860df;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #1860df;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #1860df;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #1860df;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #1860df;
  border-bottom-color: #1860df;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #1860df !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f7ed4a !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%231860df' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-CCeK9LbJFD {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f7ed4a;
}
.cid-CCeK9LbJFD .mbr-section {
  text-align: center;
  color: #fff;
}
.cid-CCeK9LbJFD p {
  display: inline;
  font-size: 19px;
  color: #FFD100;
}
.cid-CCeK9LbJFD .marquee-rtl {
  padding-right: 1%;
  padding-left: 1%;
}
.cid-CCeK9LbJFD .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-qYhg450rlP {
  background-image: url("../../../assets/images/ns-bk5-1429x1073.png");
}
.cid-qYhg450rlP .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-qYhg450rlP .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-qYhg450rlP .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-qYhg450rlP .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-qYhg450rlP .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-qYhg450rlP a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-qYhg450rlP a.close:hover {
  color: #ffffff;
}
.cid-tTbb06ZTg5 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f7ed4a;
}
.cid-tTbb06ZTg5 .nav-tabs .nav-item.open .nav-link:focus,
.cid-tTbb06ZTg5 .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-tTbb06ZTg5 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-tTbb06ZTg5 .nav-tabs .nav-item {
  padding: .5rem;
}
.cid-tTbb06ZTg5 .nav-tabs .nav-link {
  color: #000000;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #000000;
  transition: all .5s;
}
.cid-tTbb06ZTg5 .nav-tabs .nav-link:hover {
  cursor: pointer;
  background-color: #1860df;
}
.cid-tTbb06ZTg5 .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  background-color: #1860df;
  border-color: #1860df;
}
.cid-tTbb06ZTg5 .nav-tabs .nav-link.active:hover {
  background-color: #1860df;
}
.cid-tTbb06ZTg5 p {
  color: #ffffff;
}
.cid-tTbb06ZTg5 .mbr-text {
  text-align: center;
}
.cid-tTbb06ZTg5 H2 {
  color: #000000;
}
.cid-tTbb06ZTg5 P {
  color: #000000;
}
.cid-sxkLMTUAkR {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #1860df;
}
.cid-sxkLMTUAkR P {
  color: #767676;
}
.cid-sxkLMTUAkR H1 {
  color: #ffffff;
}
.cid-sxkLMTUAkR .mbr-text,
.cid-sxkLMTUAkR .mbr-section-btn {
  color: #ffffff;
}
.cid-sxkLyCARdG {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #1860df;
}
.cid-sxkLyCARdG .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: currentColor;
  transition: all 0.3s;
  transform: rotate(90deg);
}
.cid-sxkLyCARdG .panel-group {
  border: none;
}
.cid-sxkLyCARdG .card-header {
  padding: 1.2rem 0.5rem;
}
@media (max-width: 767px) {
  .cid-sxkLyCARdG .card-header {
    padding: 1rem 0rem;
  }
}
.cid-sxkLyCARdG .panel-body {
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-sxkLyCARdG .panel-body {
    padding: 0rem;
    padding-bottom: 1rem;
  }
}
.cid-sxkLyCARdG .content {
  margin: 5rem auto;
}
.cid-sxkLyCARdG .img-col {
  padding: 0;
}
.cid-sxkLyCARdG .img-item {
  height: 100%;
}
.cid-sxkLyCARdG img {
  height: 100%;
  object-fit: cover;
}
.cid-sxkLyCARdG .collapsed span {
  transform: rotate(0deg);
}
.cid-sxkLyCARdG .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sxkLyCARdG p {
  margin-bottom: 0.3rem;
}
.cid-sxkLyCARdG .mbri-arrow-up {
  transform: rotate(45deg);
}
.cid-sxkLyCARdG .panel-title-edit {
  color: #000000;
}
.cid-sxkLyCARdG .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 10px;
}
.cid-sxkLyCARdG .card {
  background: white;
  padding: 0rem 1rem;
  border-radius: 10px!important;
}
.cid-sxkLyCARdG .panel-title-edit,
.cid-sxkLyCARdG .mbr-iconfont {
  color: #1b2026;
}
.cid-sxkLyCARdG .panel-text {
  color: #000000;
}
.cid-sxkLyCARdG H4 {
  color: #777777;
}
.cid-tTfTO1pvtX {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f7ed4a;
}
.cid-tTfTO1pvtX .testimonials-container {
  margin: 0 auto;
}
.cid-tTfTO1pvtX .testimonials-container .testimonials-item {
  justify-content: center;
  margin-top: 3rem;
  -webkit-justify-content: center;
}
.cid-tTfTO1pvtX .testimonials-container .testimonials-item .user {
  background: #ffffff;
}
.cid-tTfTO1pvtX .testimonials-container .testimonials-item .user.row {
  margin: 0;
}
.cid-tTfTO1pvtX .testimonials-container .testimonials-item .user .user_image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 2rem auto 2rem auto;
}
.cid-tTfTO1pvtX .testimonials-container .testimonials-item .user .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-tTfTO1pvtX .testimonials-container .testimonials-item .user .testimonials-caption {
  padding: 2rem;
  padding: 2rem 2rem 2rem 0;
}
@media (max-width: 260px) {
  .cid-tTfTO1pvtX .user_image {
    width: 100% !important;
    height: auto !important;
  }
}
@media (max-width: 767px) {
  .cid-tTfTO1pvtX .testimonials-caption {
    padding: 0 2rem 2rem 2rem !important;
  }
}
.cid-tTfTO1pvtX H2 {
  color: #000000;
}
.cid-tTfTO1pvtX .mbr-section-subtitle {
  color: #000000;
}
.cid-tTOZJfSDkV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tTOZJfSDkV .carousel-control {
  background: #000;
}
.cid-tTOZJfSDkV .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tTOZJfSDkV .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-tTOZJfSDkV .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-tTOZJfSDkV .carousel-item .wrap-img {
  text-align: center;
}
.cid-tTOZJfSDkV .carousel-item .wrap-img img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-tTOZJfSDkV .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-tTOZJfSDkV .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-tTOZJfSDkV .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-tTOZJfSDkV .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-tTOZJfSDkV .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-tTOZJfSDkV .cloneditem-1,
.cid-tTOZJfSDkV .cloneditem-2,
.cid-tTOZJfSDkV .cloneditem-3,
.cid-tTOZJfSDkV .cloneditem-4,
.cid-tTOZJfSDkV .cloneditem-5 {
  display: none;
}
.cid-tTOZJfSDkV .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tTOZJfSDkV .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-tTOZJfSDkV .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides2 .cloneditem-1,
  .cid-tTOZJfSDkV .carousel-inner.slides2 .cloneditem-2,
  .cid-tTOZJfSDkV .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-tTOZJfSDkV .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides3 .cloneditem-1,
  .cid-tTOZJfSDkV .carousel-inner.slides3 .cloneditem-2,
  .cid-tTOZJfSDkV .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-tTOZJfSDkV .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides4 .cloneditem-1,
  .cid-tTOZJfSDkV .carousel-inner.slides4 .cloneditem-2,
  .cid-tTOZJfSDkV .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-tTOZJfSDkV .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides5 .cloneditem-1,
  .cid-tTOZJfSDkV .carousel-inner.slides5 .cloneditem-2,
  .cid-tTOZJfSDkV .carousel-inner.slides5 .cloneditem-3,
  .cid-tTOZJfSDkV .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-tTOZJfSDkV .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-tTOZJfSDkV .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-tTOZJfSDkV .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-tTOZJfSDkV .carousel-inner.slides6 .cloneditem-1,
  .cid-tTOZJfSDkV .carousel-inner.slides6 .cloneditem-2,
  .cid-tTOZJfSDkV .carousel-inner.slides6 .cloneditem-3,
  .cid-tTOZJfSDkV .carousel-inner.slides6 .cloneditem-4,
  .cid-tTOZJfSDkV .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-tTOZJfSDkV H2 {
  color: #ffffff;
}
.cid-sxkGrejS53 {
  padding-top: 5rem;
  padding-bottom: 6rem;
  background-color: #f7ed4a;
}
.cid-sxkGrejS53 .row {
  align-items: center;
}
.cid-sxkGrejS53 .link-wrap {
  display: inline-block;
  width: 100%;
}
.cid-sxkGrejS53 .link {
  padding-left: 2.5rem;
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: fit-content;
}
.cid-sxkGrejS53 .link:before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  font-size: 1rem;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s;
  background: #1860df;
  font-family: 'Moririse2' !important;
  content: "\e909";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.cid-sxkGrejS53 .link:hover:before {
  background: #82786e;
}
.cid-sxkGrejS53 .mbr-section-title {
  color: #000000;
}
.cid-sxkGrejS53 .mbr-text,
.cid-sxkGrejS53 .mbr-section-btn {
  color: #000000;
}
.cid-sxkGrejS53 .link,
.cid-sxkGrejS53 .link-wrap {
  color: #000000;
  text-align: left;
}
.cid-tTbs65DMnT {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tTbs65DMnT .mbr-section-subtitle,
.cid-tTbs65DMnT .mbr-text {
  color: #767676;
}
.cid-tTbs65DMnT .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tTbs65DMnT .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tTbs65DMnT .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tTbs65DMnT .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-tTbs65DMnT .card-wrapper .card-img img {
  width: 100%;
}
.cid-tTbs65DMnT .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tTbs65DMnT .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tTbs65DMnT .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-tTbs65DMnT .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tTbs65DMnT .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tTbs65DMnT .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tTbs65DMnT .mbr-section-title {
  color: #ffffff;
}
.cid-tTbs65DMnT .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tTbt0MWRPz {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tTbt0MWRPz .mbr-section-subtitle,
.cid-tTbt0MWRPz .mbr-text {
  color: #767676;
}
.cid-tTbt0MWRPz .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tTbt0MWRPz .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tTbt0MWRPz .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tTbt0MWRPz .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-tTbt0MWRPz .card-wrapper .card-img img {
  width: 100%;
}
.cid-tTbt0MWRPz .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tTbt0MWRPz .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tTbt0MWRPz .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-tTbt0MWRPz .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tTbt0MWRPz .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tTbt0MWRPz .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tTbt0MWRPz .mbr-section-title {
  color: #ffffff;
}
.cid-tTbt0MWRPz .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tTbtE05n7J {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tTbtE05n7J .mbr-section-subtitle,
.cid-tTbtE05n7J .mbr-text {
  color: #767676;
}
.cid-tTbtE05n7J .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tTbtE05n7J .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tTbtE05n7J .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tTbtE05n7J .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-tTbtE05n7J .card-wrapper .card-img img {
  width: 100%;
}
.cid-tTbtE05n7J .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tTbtE05n7J .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tTbtE05n7J .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-tTbtE05n7J .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tTbtE05n7J .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tTbtE05n7J .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tTbtE05n7J .mbr-section-title {
  color: #ffffff;
}
.cid-tTbtE05n7J .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sxkONclhJM {
  padding-top: 30px;
  padding-bottom: 15px;
  background: linear-gradient(45deg, #f7ed4a, #f7ed4a);
}
.cid-sxkONclhJM .btn {
  margin: 0 0 .5rem 0;
}
.cid-sxkONclhJM H2 {
  color: #000000;
}
.cid-sxkONclhJM H3 {
  color: #000000;
}
.cid-tTPbs9Ic5i {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tTPbs9Ic5i .mbr-section-subtitle,
.cid-tTPbs9Ic5i .mbr-text {
  color: #767676;
}
.cid-tTPbs9Ic5i .card {
  display: -webkit-flex;
  position: relative;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tTPbs9Ic5i .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tTPbs9Ic5i .card-wrapper .card-img {
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tTPbs9Ic5i .card-wrapper .card-img .mbr-overlay {
  background-color: #ffffff;
  display: none;
  transition: opacity .3s;
}
.cid-tTPbs9Ic5i .card-wrapper .card-img .mbr-section-btn {
  position: absolute;
  transition: opacity .3s;
  width: 100%;
  left: 0;
  top: 50%;
  height: auto;
  transform: translateY(-50%);
}
.cid-tTPbs9Ic5i .card-wrapper .card-img img {
  width: 100%;
}
.cid-tTPbs9Ic5i .card-wrapper .card-box {
  background-color: #ffffff;
  padding: 0 2rem 2rem 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.cid-tTPbs9Ic5i .card-wrapper .card-box h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-tTPbs9Ic5i .card-wrapper .card-box p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-tTPbs9Ic5i .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
.cid-tTPbs9Ic5i .card-img .mbr-overlay {
  display: block !important;
  opacity: 0;
}
.cid-tTPbs9Ic5i .card-img .mbr-section-btn {
  opacity: 0;
}
.cid-tTPbs9Ic5i .card-img:hover .mbr-overlay {
  opacity: .5;
}
.cid-tTPbs9Ic5i .card-img:hover .mbr-section-btn {
  opacity: 1;
}
.cid-tTPbs9Ic5i .mbr-section-title {
  color: #ffffff;
}
.cid-tTPbs9Ic5i .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tTPpUcniGh {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #1860df;
}
.cid-tTPpUcniGh P {
  color: #767676;
}
.cid-tTPpUcniGh H1 {
  color: #ffffff;
}
.cid-tTPpUcniGh .mbr-text,
.cid-tTPpUcniGh .mbr-section-btn {
  color: #ffffff;
}
.cid-tTPlpGc31C {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #1860df;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-tTPlpGc31C .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-tTPlpGc31C .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tTPlpGc31C .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tTPlpGc31C .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-tTPlpGc31C .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-tTPlpGc31C .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-tTPlpGc31C .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-tTPlpGc31C .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-tTPlpGc31C .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  background: linear-gradient(to left, #554346, #45505b) !important;
}
.cid-tTfYQCs6B2 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f7ed4a;
}
.cid-tTfYQCs6B2 h2 {
  text-align: left;
}
.cid-tTfYQCs6B2 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-tTfYQCs6B2 p {
  color: #767676;
  text-align: left;
}
.cid-tTfYQCs6B2 .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-tTfYQCs6B2 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-tTfYQCs6B2 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-tTfYQCs6B2 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-tTfYQCs6B2 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-tTfYQCs6B2 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-tTfYQCs6B2 .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-tTfYQCs6B2 .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-tTfYQCs6B2 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-tTfYQCs6B2 .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-tTfYQCs6B2 .card-img span {
    font-size: 40px !important;
  }
}
.cid-tTfYQCs6B2 H2 {
  color: #000000;
}
.cid-tTfYQCs6B2 H4 {
  color: #000000;
}
.cid-tTfYQCs6B2 P {
  color: #000000;
}
.cid-sx2QjlEHme {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tRWsHP2AJb {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tRWsHP2AJb .google-map {
  height: 25rem;
  position: relative;
}
.cid-tRWsHP2AJb .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tRWsHP2AJb .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tRWsHP2AJb .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tRWsHP2AJb .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tRWtUSzFrP {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-sxkPKaCX0q {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f7ed4a;
}
@media (max-width: 992px) {
  .cid-sxkPKaCX0q {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.cid-sxkPKaCX0q .text {
  padding: 0;
}
.cid-sxkPKaCX0q section {
  position: relative;
}
.cid-sxkPKaCX0q h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.cid-sxkPKaCX0q .mbr-iconfont {
  padding: 0!important;
}
.cid-sxkPKaCX0q .back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #f7ed4a;
}
.cid-sxkPKaCX0q .box {
  background-image: url("../../../assets/images/expo-models-987-1000x553.jpg");
  background-size: cover;
  background-position: center;
  height: 550px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sxkPKaCX0q .icon-wrap {
  background-color: #000000 !important;
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.cid-sxkPKaCX0q .icon-wrap:hover {
  transform: scale(1.1);
}
.cid-sxkPKaCX0q .icon-wrap span {
  padding-left: 8px;
}
.cid-sxkPKaCX0q .mbr-media span {
  font-size: 30px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #ffffff !important;
}
.cid-sxkPKaCX0q .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-sxkPKaCX0q .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-sxkPKaCX0q .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-sxkPKaCX0q .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-sxkPKaCX0q a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-sxkPKaCX0q a.close:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sxkPKaCX0q {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .cid-sxkPKaCX0q .box {
    height: 250px;
  }
  .cid-sxkPKaCX0q .row {
    padding: 1rem!important;
  }
}
.cid-tTbOlSlGOh {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1860df;
}
.cid-tTbOlSlGOh .title {
  margin-bottom: 2rem;
}
.cid-tTbOlSlGOh .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tTbOlSlGOh a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-tTbOlSlGOh a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-tTbOlSlGOh textarea.form-control {
  min-height: 188px;
}
.cid-tTbOlSlGOh H2 {
  color: #ffffff;
}
.cid-tTbOlSlGOh LABEL {
  color: #ffffff;
}
.cid-qYhHqWNcRu {
  padding-top: 45px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, #000000, #000000);
}
.cid-qYhHqWNcRu .mbr-iconfont-social {
  font-size: 32px;
  color: #f7ed4a;
}
.cid-qYhHqWNcRu .social-list a:focus {
  text-decoration: none;
}
.cid-qYhHqWNcRu H2 {
  color: #ffffff;
}
.cid-qYhJ33wf8P {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-qYhJ33wf8P .media-container-row .mbr-text {
  text-align: center;
}
.cid-tUZ551g1m6.popup-builder {
  background-color: #ffffff;
}
.cid-tUZ551g1m6.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-tUZ551g1m6.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-tUZ551g1m6 .modal-content,
.cid-tUZ551g1m6 .modal-dialog {
  height: auto;
}
.cid-tUZ551g1m6 .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-tUZ551g1m6 .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-tUZ551g1m6 .form-wrapper .mbr-form .form-group,
  .cid-tUZ551g1m6 .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-tUZ551g1m6 .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-tUZ551g1m6 .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tUZ551g1m6 .mbr-text {
  text-align: center;
}
.cid-tUZ551g1m6 .pt-0 {
  padding-top: 0 !important;
}
.cid-tUZ551g1m6 .pb-0 {
  padding-bottom: 0 !important;
}
.cid-tUZ551g1m6 .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-tUZ551g1m6 .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-tUZ551g1m6 .modal-open {
  overflow: hidden;
}
.cid-tUZ551g1m6 .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-tUZ551g1m6 .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-tUZ551g1m6 .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-tUZ551g1m6 .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-tUZ551g1m6 .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-tUZ551g1m6 .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-tUZ551g1m6 .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-tUZ551g1m6 .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-tUZ551g1m6 .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-tUZ551g1m6 .modal-backdrop.fade {
  opacity: 0;
}
.cid-tUZ551g1m6 .modal-backdrop.show {
  opacity: .5;
}
.cid-tUZ551g1m6 .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-tUZ551g1m6 .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-tUZ551g1m6 .modal-header .close:hover {
  opacity: 1;
}
.cid-tUZ551g1m6 .modal-header .close:focus {
  outline: none;
}
.cid-tUZ551g1m6 .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-tUZ551g1m6 .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-tUZ551g1m6 .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-tUZ551g1m6 .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-tUZ551g1m6 .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-tUZ551g1m6 .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-tUZ551g1m6 .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-tUZ551g1m6 .modal-sm {
    max-width: 300px;
  }
  .cid-tUZ551g1m6 .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-tUZ551g1m6 .modal-lg,
  .cid-tUZ551g1m6 .modal-xl {
    max-width: 800px;
  }
  .cid-tUZ551g1m6 .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-tUZ551g1m6 .modal-xl {
    max-width: 1140px;
  }
  .cid-tUZ551g1m6 .container {
    max-width: 1140px;
  }
}
.cid-tUZ551g1m6 .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-tUZ551g1m6 .container {
    max-width: 720px;
  }
}
.cid-tUZ551g1m6 .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-tUZ551g1m6 .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-tUZ551g1m6 .form-group {
  margin-bottom: 1rem;
}
.cid-tUZ551g1m6 .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-tUZ551g1m6 .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-tUZ551g1m6 .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
